body {
    padding: 10px;
}

.Listing {
    border: 5px inset black;
    background-color: gainsboro;    
    text-align: left;
  }

.index-img {
    border: 1px solid #9d9595;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin-right: 100px;
}

.badge {
    background-color: cadetblue;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
  }
