{% extends 'auctions/layout.html' %}
{% load static %}
{% block title %}
    {{ listing.name }}
{% endblock %}

{% block body %}
<h2>Listing: {{ listing.name }}</h2>
{% for category in listing_cat %}
<span class="badge">{{ category.category_name }}</span>
{% endfor %}
<br><br>
{% if in_watchlist %}
<div class="alert alert-primary" role="alert">
    This item is already in your watchlist
</div>
{% endif %}
{% if listing.sold and no_bid %}
<div class="alert alert-danger" role="alert">
    Sorry! This item has been closed.
</div>
{% elif listing.sold and max_bidder %}
<div class="alert alert-success" role="alert">
    Congratulations! You have successfully purchased this item
</div>
{% elif listing.sold and not max_bidder %}
<div class="alert alert-danger" role="alert">
    Sorry! This item has already been sold to someone else.
</div>
{% endif %}
<br><br>
<div class="card-image-wrapper" align="center">
    <img class="index-img" src="{{ listing.image }}" alt="...">
    <hr>
</div>
<p>
    {{ listing.description }}
</p>
<h2>
   price:  ${{ listing.price}}
</h2>


<h2>Details:</h2>

<ul>
    <li>listed by: {{ listing.listed_by }}</li>
    <li>created: {{ listing.listing_date }}</li>
</ul>
<form action="{% url 'bidder' listing.id %}" method="post">
    {% csrf_token %}
    {% if in_watchlist %}
        <input type="hidden" name="present" value="false">
        <button type="submit" class="btn btn-warning">remove from watchlist</button>
    {% else %}
        <input type="hidden" name="present" value="true">
        <button type="submit" class="btn btn-primary">add to watchlist</button>
    {% endif %}
</form>
{% if not sold %}
<hr>
<h2>Bid:</h2>
{% if max_bidder and not no_bid %}
<div class="alert alert-success" role="alert">
    your bid is the highest bid
</div>
{% elif not max_bidder and not no_bid %}
<div class="alert alert-warning" role="alert">
    There is a higher bid to this item by another customer
</div>
{% endif %}
{{ bid_no }} bid(s) so far. your bid is the current bid
<form method="post" action="{% url 'bid' %}">
    {% csrf_token %}
    <input type="number" min="{{ min_bid }}" name="bid">
    <input type="hidden" name="listing_id" value="{{ listing.id }}">
    <button type="submit" class="btn btn-success" name="submit">place a bid</button>
</form>
{% endif %}
<hr>
<h2> comments: </h2>
<br>
{% for comment in comments %}
<div class="Listing">
    <strong>commented by: {{ comment.user }}</strong>
    <p> {{ comment.comment }}</p>
</div>
<br><br>
{% empty %}
<h4> No Comments </h4>
{% endfor %}
<h3>write a comment: </h3>

<form action="{% url 'comment' listing.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" value="bidder" name="user">
    <textarea placeholder="comment here" name="comment" rows="4" cols="50"></textarea>
    <br>
    <button class="btn btn-success" type="submit">submit</button>
</form>

{% endblock %}