{% extends 'auctions/layout.html' %}
{% load static %}
{% block title %}
    {{ listing.name }}
{% endblock %}

{% block body %}
<h2>Listing: {{ listing.name }}</h2>
{% if listing.sold and not no_bid %}
<div class="alert alert-success" role="alert">
    This item has been sold
</div>
{% elif listing.sold and no_bid %}
<div class="alert alert-danger" role="alert">
    Sorry! This item has gone unsold.
</div>
{% endif %}
{% for category in listing_cat %}
<span class="badge">{{ category.category_name }}</span>
{% endfor %}
<br><br>
<div class="card-image-wrapper" align="center">
    <img class="index-img" src="{{ listing.image }}" alt="...">
    <hr>
</div>
<p>
    {{ listing.description }}
</p>
<h2>
   price:  ${{ listing.price}}
</h2>
<br>
<h2>Details:</h2>
<ul>
    <li>listed by: {{ listing.listed_by }}</li>
    <li>created: {{ listing.listing_date }}</li>
</ul>

{% if not listing.sold %}
<hr>
<form action="{% url  'seller' listing.id %}" method="post">
    {% csrf_token %}
    <label for="categories">Categories:</label>
    <select name="categories" id="categories">
        <option value="0">select a category</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary">add new category</button>
</form>



<br><hr><br>
<h2>Close Bidding</h2>
{{ bid_count }} bids so far.
<br>
{% if not no_bid %}
The highest bid is for $ {{ max_bid }} by {{ max_bidder.name }}
{% endif %}
<form method="post" action="{% url 'close' %}">
    {% csrf_token %}
    <input type="hidden" value="{{ listing.id }}" name="listing_id">
    <button type="submit" class="btn btn-danger">close bidding</button>
</form>
{% endif %}


<hr>
<h2> comments: </h2>
<br>
{% for comment in comments %}
<div class="Listing">
    <strong>commented by: {{ comment.user }}</strong>
    <p> {{ comment.comment }}</p>
</div>
<br><br>
{% empty %}
<h4> No Comments </h4>
{% endfor %}

<form action="{% url 'comment' listing.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" value="seller" name="user">
    <textarea placeholder="comment here" name="comment" rows="4" cols="50"></textarea>
    <br>
    <button class="btn btn-success" type="submit">submit</button>
</form>

{% endblock %}